.cw-slideshow {
	position: relative;
	z-index: 1;
	background-color: #fff;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	@include transition(background-color .5s, opacity .5s);
	margin-bottom: 30px;
	@include opacity(0);

	&.loaded {
		@include opacity(1);
		@include transition(background-color .5s, opacity .5s);
	}

	.slide {
		text-align: left;
		overflow: hidden;

		.inner {
			position: relative;
			width: 100%;
			max-width: 1400px;
			margin: 0 auto;

			&.align-left {
				text-align: left;
			}

			&.align-center {
				text-align: center;
			}

			&.align-right {
				text-align: right;
			}			
		}

		// img {
		// 	@include transform(translateY(100%));
		// 	@include transition(transform .5s);
		// }

		.slide-words {
			position: absolute;
			display: none;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			&.has-cap {
				display: block;
			}

			.slide-title,
			.slide-caption {
				@include text-shadow(1px, 1px, 0, rgba(0, 0, 0, .25));
			}

			.slide-title{
				display: block;
				width: 100%;
				position: absolute;
				@include opacity(0);
				top: 50%;
				@include transition(transform 1s ease-in-out .5s, opacity 1s ease-in-out .5s, color .5s);
				color: #f6ee22;
				font-weight: 900;
				font-size: 5.875vw;
				@extend .smoothfont;
				line-height: 1;
				padding: 0 60px;

				.subtitle {
					font-size: 4.7vw;
					color: #fff;
				}

				&.align-left {
					@include transform(translateY(-50%) translateX(-100%));
					text-align: left;
				}

				&.align-center {
					@include transform(translateY(-50%) translateX(0));
					text-align: center;
				}

				&.align-right {
					@include transform(translateY(-50%) translateX(100%));
					text-align: right;
				}
			}

			.slide-caption {
				display: block;
				width: 100%;
				position: absolute;
				@include opacity(0);
				bottom: 15px;
				@include transition(transform 1s ease-in-out .5s, opacity 1s ease-in-out .5s, color .5s);
				color: #fff;
				font-weight: 900;
				font-size: 2.8vw;
				line-height: 1;
				padding: 0 60px;
				@extend .smoothfont;

				&.align-left {
					@include transform(translateX(-100%));
					text-align: left;
				}

				&.align-center {
					@include transform(translateX(0));
					text-align: center;
				}

				&.align-right {
					@include transform(translateX(100%));
					text-align: right;
				}
			}
		}

		&.active-slide {
			// img {
			// 	@include transform(translateY(0));
			// 	@include transition(transform 1s ease-in-out .5s);
			// }

			.slide-words {
				.slide-title {
					@include opacity(1);
					@include transform(translateY(-50%) translateX(0));
					@include transition(transform 1s ease-in-out 0, opacity 1s ease-in-out 0);
				}

				.slide-caption {
					@include opacity(1);
					@include transform(translateX(0));
					@include transition(transform 1s ease-in-out .25s, opacity 1s ease-in-out .25s);
				}
			}
		}
	}
}

@media all and (min-width: 1024px) {
	.cw-slideshow {
		.slide {
			.slide-words {
				.slide-title{
					font-size: 60px;

					.subtitle {
						font-size: 48px;
					}
				}

				.slide-caption {
					font-size: 28px;
				}
			}
		}
	}
}