@import "normalize.scss";
@import "foundation.scss";
@import "compass/css3/transition";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "cw-custom.scss"; // This is where we can put custom mixins and classes
@import "gravityforms";
@import "wordpress";
@import "bxslider";
@import "cw-accordion";
@import "cw-slides";

// variables
$linkColor: #00356D;
$linkHover: lighten($linkColor, 10%);
$fontColor: #000;

html, body {
	margin: 0;
	padding: 0;
	font-family: "Gill Sans", Verdana;
	font-size:1.1em;

	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

@font-face {
    // font: 62.5% "Gill Sans", Verdana, "Arial", sans-serif;
    src: url(/wp-content/themes/cw/img/gillsans.ttf) format("truetype");
}

body {
	&.admin-bar {
		padding-top: 46px;
	}
}

* {
	outline: none!important;
	
	&:hover,
	&:focus {
		outline: none!important;
	}
}

pre {
	position: relative;
	padding: 24px;
	font-size: 10px;
	border: solid 1px #666;
	background-color: #fff;
	@include border-radius(20px);
	margin: 15px;

	.close-pre {
		display: block;
		position: absolute;
		top: 15px;
		right: 15px;
		width: 20px;
		height: 20px;
		border: solid 1px #666;
		@include border-radius(20px);
		cursor: pointer;

		&:before,
		&:after {
			position: absolute;
			display: block;
			content: '';
			background-color: #666;
			width: 13px;
			height: 2px;
			top: 50%;
			left: 50%;
			@include transform-origin(center center);
			@include transition(.5s);
		}

		&:before {
			@include transform(translateY(-50%) translateX(-50%) rotate(0deg));
		}

		&:after {
			@include transform(translateY(-50%) translateX(-50%) rotate(0deg));
		}

		&.open {
			&:before {
				@include transform(translateY(-50%) translateX(-50%) rotate(90deg));
			}
			&:after {
				@include transform(translateY(-50%) translateX(-50%) rotate(180deg));
			}
		}
	}
}

// reference clases
.vertcent {
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
}

.horzcent {
	position: absolute;
	left: 50%;
	@include transform(translateX(-50%));
}

.absocent {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translateX(-50%) translateY(-50%));
}

.smoothfont {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//typography
h1, h2, h3, h4, h5, h6 {
	font-family: "Gill Sans", Verdana;
	margin: 0;

	&.page-title {
		color:#FFF;
		padding:30px;
		margin-top:20px;

	}
}

h1 {
	font-size: 3.75em;
}

h2 {
	font-size: 3em;
}
h3 {
	font-size: 2.25em;
}
h4 {
	font-size: 1.875em;
}
h5 {
	font-size: 1.5em;
}
h6 {
	font-size: 1.125em;
}

p, li  {
	font-size: .875em;
	color: $fontColor;
	font-family: 'Lato', sans-serif;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	&.styleless {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

a {
	color: $linkColor;
	@include transition(.25s);

	&:hover {
		color: $linkHover;
		@include transition(.25s);
		text-decoration: underline;
	}
}

input[type="text"],
input[type="email"],
input[type="submit"],
select,
textarea {
	border: 1;
	outline: none!important;
	padding: 10px!important;
	margin: 0!important;
}

input[type="submit"] {

}

input[type="text"],
input[type="email"],
textarea {

}

input[type="text"],
input[type="email"] {

}

textarea {

}

// General CSS
.fuzzy_back
{
	background: rgba(0, 0, 0, 0.5);
}
.center{
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
.f_left{ float:left; text-align:left;}
.f_right{ float:right; text-align:right;}
.w_txt{
	color:#FFF;
}
.hr_inv{
	border: 1px transparent;
}

//buttons

.button{
	background-color: #00336D;
	border:1px solid #D9D9D9;
	color:#FFF;
	padding:0.5em 1em 0.5em 1em;
	border-radius:0.5em;
}
.button:hover, .button:focus {
  
  background:#FFF;
  color:#00336D;

}

//banner section
.top_info{
	padding-top:30px;
}
.top_call{
	color:#f78e1e;
}
.top_num{
	color:#999;
	padding-right:5px;
}
.top_email{
	color:#50a3e7;
	a:hover{
		color:$linkHover;
		text-decoration:none;
	}
}

// header and nav
[role=banner] {

	padding-top:40px;
	//padding-bottom:40px;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 46%, rgba(245,245,245,1) 46%, rgba(245,245,245,1) 46%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(46%,rgba(255,255,255,1)), color-stop(46%,rgba(245,245,245,1)), color-stop(46%,rgba(245,245,245,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 46%,rgba(245,245,245,1) 46%,rgba(245,245,245,1) 46%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 46%,rgba(245,245,245,1) 46%,rgba(245,245,245,1) 46%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 46%,rgba(245,245,245,1) 46%,rgba(245,245,245,1) 46%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 46%,rgba(245,245,245,1) 46%,rgba(245,245,245,1) 46%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


	// foundation nav structure
	.contain-to-grid {
		background:transparent;

		[role="navigation"] {
			background:transparent;

			.title-area {

			}
			.top-bar-section {
				ul li {
				  margin: 5px;
				}
				li:not(.has-form) a:not(.button) {
					padding: 0 15px;
					font-family: "Gill Sans", Verdana;
					font-size: 20px;
					line-height: 45px;
					background: #333;
					border-radius:2.5em;
					border:2px solid #FFF;
					color:#FFD800;
				}

				.menu {
					.menu-item {
						&.menu-item-type-custom {
							& > a {
							}
						}
						&.current-menu-item,
						&.current-menu-parent,
						&.active {
							& > a {
							}
						}
						a {
							&:hover {
								border:2px solid #FFD800;
								color:#FFFFFF;
								text-decoration: none;
							}
						}
						.sub-menu {
							.menu-item {
								&.menu-item-type-custom {
									a {
									}
								}
								a {
									&:hover {
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.top-bar .name {
  background-color: #00477E;
  margin: 0px;
}
.top-bar-section ul {
  background: #55B949;

}

// main content
[role="main"] {
	padding:10px;
	.home & {
	}
}
.page_title_bg{
	background:url(/wp-content/themes/cw/img/bg_title.jpg)no-repeat ;
	margin-top: -10px;
	margin-bottom:30px;
}
.home_page_title_bg{
	background:url(/wp-content/themes/cw/img/bg_what.jpg)no-repeat ;
	margin-top: -10px;
	//margin-bottom:30px;
	// min-height:500px;
	height:100%;
}
.slide_content{
	padding-top:26px;
}
.slide_home_content{
	//background:#50AD45;
	padding-top:26px;
	padding-bottom:26px;
	color:#FFF;
	h1, h2, h3, h4, h5, h6 {
		color:#FFF;
	}
	p{
		color:#FFFFFF;
		//letter-spacing: 1px;
	}
	a{
		color:#FFD112;
	}
	a:hover{
		color:$linkHover;
	}
}

[role=banner] .contain-to-grid [role="navigation"] .top-bar-section ul li {
  margin: 5px;
  //background-color: #FFF;
}
//faq section
.cw-accordion .cwa-section-header {
	border-bottom:1px solid #CBCBCB;
	font-size:1.4em;
	font-weight:350;

}
.cw-accordion .cwa-section-content {
  background-color: #FFF;
  display: none;
  overflow: hidden;
  border-bottom:1px solid #CBCBCB;
}

//slideshow
.cw-slideshow{
	background-color:transparent !important;
	margin-bottom:0px;
}

//gform
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio], .gform_wrapper.gf_browser_chrome .gfield_checkbox li input {
  margin-left: 1px !important;
}
.bx-wrapper .bx-controls-direction a {
  display: none;
}

.cwa-section-header{
	padding:10px 0px 10px 0px;
}
#gform_wrapper_4{
	border: 1px solid #D9D9D9;
	border-radius:1em;
	padding:20px;
	background: #F3F3F3;
}

.gform_confirmation_message_4{
	border: 1px solid #D9D9D9;
	border-radius:1em;
	padding:20px;
	background: #F3F3F3;
	span{
		h3{
			color:#25A830;
		}
	}
	h3{
			color:#DC2600;
		}
}

//post content
.post_content{
	padding:5px 20px 5px 20px;
}

// sidebar
[role="complementary"] {

}

.sidebar_widget{
	background-color:#F7F7F7;
	border: 1px solid #e1e1e1;
	padding:10px;
	margin-top:10px;
	margin-bottom:10px;
}

.sidebar_call{
	width:100%;
	padding:20px;
	background-color:#F7F7F7;
	border: 1px solid #e1e1e1;
	margin-top:10px;
	margin-bottom:10px;
}
.promo{
	margin-bottom:10px;
}
.sidebar_contact_head{
	background-color:#00336D;
	padding:10px;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	h5{
		color:#FFF;
	}
}
// footer
[role="contentinfo"] {

}
.footer_area1{
	padding:40px 0px 80px 0px;
}
.footer_area1_inner{
	background-color:#F78F1E;
	min-height:150px;
	margin-top:-80px;

}
.footer_area{
	background:#666;
	//background: url(/wp-content/themes/cw/img/img/footer_bgTile.gif) repeat-x #343434;
	padding:40px 20px 40px 20px;
	p{
		color:#FFF;
		font-size: 11px;
		line-height: 2;
	}
	a{
		color:#C5DBFF;
	}
	a:hover{
		text-decoration: underline;
	}
}

// misc stuff, specific stuff, global stuff
.logo {
	a {
		display: inline-block;
		//padding-top:40px;
		//padding-bottom:40px;
	}
}
.sil_logo{
	padding-top:10px;
	max-width:150px;

}

.cw {
	display: block;
	width: 100%;
	height: 30px;
	background: right center no-repeat url(/wp-content/themes/cw/img/cw-light.png);
	text-indent: -9999px;
}

.gf_captcha {
	display: none;
}

.cf:before,
.cf:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.cf:after {
	clear: both;
}


//media queries

@media all and (min-width: 1001px) {
	
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0 15px;
		font-size: 20px;
	}

}

@media all and (max-width: 1001px) {
	
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0 15px;
		font-size: 20px;
		
	}
	.slide_home_content{
		background:#4BA541;
		padding-top:26px;
		color:#FFF;
		
	}

}

@media all and (max-width: 890px) {

	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0 10px;
		font-size: 20px;

	}

}

@media all and (max-width: 865px) {

	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0 10px;
		font-size: 19px;
	}

}

@media all and (max-width: 798px) {

	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0 8px;
		font-size: 16px;
	}


}

@media all and (max-width: 695px) {
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0 4px;
		font-size: 16px;
	}
}

@media all and (max-width: 640px) {
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0 15px;
		font-size: 20px;
	}
	.slide_home_content{
		background:#4BA541;
		padding-top:26px;
		color:#FFF;
		
	}
	.footer_area1 {
	  padding: 40px 0px 40px 0px;
	}

	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 2em;
	}
	h3 {
		font-size: 1.75em;
	}
	h4 {
		font-size: 1.5em;
	}
	h5 {
		font-size: 1.2em;
	}
	h6 {
		font-size: 1em;
	}

	.page-title {
		color:#FFF;
		padding:20px !important;
		margin-top:15px !important;

	}

	.page_title_bg {
	  margin-bottom: 20px;
	}

	.footer_area1_inner{
		background-color:#F78F1E;
		min-height:110px;
		margin-top:-80px;

	}
		
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .cf {
 	*zoom: 1;
 }

@media all and (min-width: 783px) {
	body {
		&.admin-bar {
			padding-top: 32px;
		}
	}
}

 // print styles
 @media print {
 	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
 	a, a:visited { text-decoration: underline; }
 	a[href]:after { content: " (" attr(href) ")"; }
 	abbr[title]:after { content: " (" attr(title) ")"; }
 	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
 	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
 	thead { display: table-header-group; }
 	tr, img { page-break-inside: avoid; }
 	img { max-width: 100% !important; }
 	@page { margin: 0.5cm; }
 	p, h2, h3 { orphans: 3; widows: 3; }
 	h2, h3 { page-break-after: avoid; }
 }